{% block discutea_media_many_row %}
    <div class="dropzone"
         id="discuteaDropzone"
         data-discutea-media="true"
         data-repeator-id="{{ form.vars.id }}"
         data-action="{{path('discutea_media_image_post')}}">
    </div>

    {{ form_widget(form) }}
{% endblock %}
